/* create flexbox for the skills section */
html, body {
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.checklist{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
    "blank top1 header top2 blank"
    "blank miniHeaderLeft blank miniHeaderRight blank"
    "blank checklistLeft blank checklistRight blank";
    min-height: 100vh;
}
.skillsSection{
    background-color: rgb(41, 41, 41);
    display: grid;
    grid-area: miniHeaderLeft;
    grid-column: 2 / 3;

    height: 100%;
    width: 100%;
}

/* seperate section for just the wording and links to make them have only underline and wtv color I want*/
.skills a{
    color: white;
    text-decoration: underline;
    font-size: 24px;
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}


.title {
    color: purple;
    text-align: center;
    font-size: 48px;
    height: 10vh;
  
}
.miniTitle {
    font-size: 36px;

}
img {
    background-color: black;
}
.skills input[type = "checkbox"]{
    width: 20px;
    height: 50px;
    cursor: pointer;
}
