/* create flexbox for the skills section */
.skills{
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* aligns content to top right making list going down*/
    align-items: flex-start;
    height: 250px; /* temporary values */
    width: 250px;
    margin-left: 400px;
    
}
/* seperate section for just the wording and links to make them have only underline and wtv color I want*/
.skills a{
    color: white;
    text-decoration: underline;
    font-size: 24px;
}
.skills label{
    display: flex;
    align-items: center;
    gap: 5px;
}
.skillsSection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
}
.title {
    color: purple;
    text-align: center;
    font-size: 48px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.miniTitle {
    font-size: 36px;
    margin-left: 480px;
}
img {
    background-color: black;
}
.skills input[type = "checkbox"]{
    width: 20px;
    height: 50px;
    cursor: pointer;
}
