.skills{
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: 250px;
    width: 200px;
}
.skills a{
    color: white;
    text-decoration: underline;
    font-size: 24px;
}
.title {
    color: purple;
    text-align: center;
    font-size: 48px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.miniTitle {
    font-size: 36px;
}
img {
    background-color: black;
}
button { 
    height: 30px;
    width: 60px;
    padding: 10px;
    border: 2px solid red;
    margin: 10px;
}
